.movie-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}
  
.movie-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.movie-card {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.movie-thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
  
.movie-info {
    margin-top: 10px;
}
  
.movie-title {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.release-date,
.rating {
    font-size: 14px;
    margin-bottom: 5px;
}

.load-more-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.load-more-button:hover {
    background-color: #0056b3;
}
  
#category {
    margin-top: 10px;
    margin-left: 20px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.button-container {
    margin-bottom: 20px;
  }
  
.button-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.button-container button:hover {
    background-color: #0056b3;
}

.add-to-favorites-button {
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px; 
}

.add-to-favorites-button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
    .movie-card {
      width: 250px;
    }
}
  
@media (max-width: 480px) {
    .movie-card {
      width: 100%;
    }
}